<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/dishName()})">
    <title th:text="#{dishes.form.title}">Dishes : Create</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" th:href="@{/d}" href="dishes.html"> Dishes </a>
    </div>
    <h4 class="float-left mt-2" th:text="#{dishes.form.title}">Dishes : Create</h4>
    <div class="clearfix"></div>
    <form id="dishForm" th:action="@{/d/(form)}" th:object="${dish}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
        </div>
        <input type="hidden" th:field="*{id}" th:class="${'form-control' + (#fields.hasErrors('id') ? ' is-invalid' : '')}"/>
        <div class="form-group">
            <label for="dishName" th:text="#{dishes.form.dishName}">Dish Name</label>
            <input type="text" th:field="*{dishName}" th:class="${'form-control' + (#fields.hasErrors('dishName') ? ' is-invalid' : '')}">
        </div>
        <div class="form-group">
            <label for="dishType" th:text="#{dishes.form.dishType}">Dish Type</label>
            <select id="dishType" th:field="*{dishType}" th:class="${'form-control' + (#fields.hasErrors('dishType') ? ' is-invalid' : '')}">
                <option value="Voorgerecht" selected="selected">Voorgerecht</option>
                <option value="Hoofdgerecht" selected="selected">Hoofdgerecht</option>
                <option value="Nagerecht" selected="selected">Nagerecht</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dishRecipe" th:text="#{dishes.form.dishRecipe}">Dish Summary</label>
            <textarea th:field="*{dishRecipe}" th:class="${'form-control' + (#fields.hasErrors('dishRecipe') ? ' is-invalid' : '')}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{dishes.form.submit}">Submit</button>
    </form>
</div>
</body>
</html>