<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title th:text="#{dishes.view.title}">Dishes : View</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="list.html" th:href="@{/d}" th:text="#{dishes.view.dishes}">Dishes</a>
    </div>
    <h4 class="float-left mt-2" th:text="#{dishes.view.title}">Dishes : View</h4>
    <div class="clearfix"></div>
    <div class="alert alert-success" th:if="${globalMessage}" th:text="#{${globalMessage}}">Succesfully added.</div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" th:text="${dish.id + ': ' + dish.dishName}">123 - A short summary...</h4>
            <!--<h6 class="card-subtitle mb-2 text-muted" th:text="${#calendars.format(message.created)}">July 11, 2012 2:17:16 PM CDT</h6> -->
            <p class="card-text" th:text="${dish.dishType}">Dish Type.</p>
            <p class="card-text" th:text="${dish.dishRecipe}">Dish Recipe</p>
            <a class="card-link" href="dishes" th:href="@{'/delete/' + ${dish.id}}" th:text="#{dishes.view.delete}">Delete</a>
            <a class="card-link" href="form.html" th:href="@{'/modify/' + ${dish.id}}" th:text="#{dishes.view.modify}">Edit</a>
        </div>
    </div>
</div>
</body>
</html>