<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

    <nav th:fragment="navbar" class="navbar navbar-dark bg-primary">
        <div class="container">
        <a class="navbar-brand" href="index.html" th:href="@{/}">Studentenhuis</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link" th:href="@{/m}" href="meals.html" th:text="#{navbar.meals}">Meals</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/s}" href="students.html" th:text="#{navbar.students}">Students</a></li>
        </ul>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="nl" th:text="#{lang.nl}"></option>
            <option value="us" th:text="#{lang.us}"></option>
        </select>
    </nav>
</div>
</body>
</html>
