<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<div>
    <!--<nav th:fragment="navbar" class="navbar navbar-dark bg-primary">
        <div class="container">
        <a class="navbar-brand" href="index.html" th:href="@{/}">Studentenhuis</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link" th:href="@{/m}" href="meals.html" th:text="#{navbar.meals}">Meals</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/s}" href="students.html" th:text="#{navbar.students}">Students</a></li>
        </ul>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="nl" th:text="#{lang.nl}"></option>
            <option value="us" th:text="#{lang.us}"></option>
        </select>
    </nav> -->

    <nav th:fragment="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark bg-primary">
        <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="index.html" th:href="@{/}">Studentenhuis</a>
        <!-- Links -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html" th:href="@{/}" >Home</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop" th:href="@{/s}" href="students.html" th:text="#{navbar.students}">Studenten</a>
                <div class="dropdown-menu" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="dropdown-item" href="form.html" th:href="@{s/(form)}" th:text="#{students.list.create}">Create Student</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop2" th:href="@{/d}" href="dishes.html" th:text="#{navbar.dishes}">Dishes</a>
                <div class="dropdown-menu" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="dropdown-item" href="form.html" th:href="@{d/(form)}" th:text="#{dishes.list.create}">Create Dish</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop3" th:href="@{/m}" href="meals.html" th:text="#{navbar.meals}">Meals</a>
                <div class="dropdown-menu" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="dropdown-item" href="form.html" th:href="@{m/(form)}" th:text="#{meals.list.create}">Create Meal</a>
                </div>
            </li>
        </ul>
            <li class="nav-item">
            <select class="custom-select" id="locales">
                <option value="nl" th:text="#{lang.nl}"></option>
                <option value="us" th:text="#{lang.us}"></option>
            </select>
            </li>
            <li class="nav-item">
                <form class="form-inline" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Sign Out">Sign Out</button>
                </form>
            </li>
            <li class="nav-item">
                <span class="badge badge-light" sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</span>
                <span class="badge badge-light" sec:authorize="hasRole('ROLE_USER')">USER</span>
            </li>
        </div>
    </nav>




    <!--<nav th:fragment="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}" href="index.html" th:text="#{navbar.home}">Studentenhuis</a>
            <ul>
                <li class="nav-item"><a href="index.html" th:href="@{/}" >Home</a></li>
                <li class="dropdown">
                    <a class="dropbtn" th:href="@{/s}" href="students.html" th:text="#{navbar.students}">Studenten</a>
                    <div class="dropdown-content">
                        <a href="form.html" th:href="@{s/(form)}" th:text="#{students.list.create}">Create Student</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropbtn" th:href="@{/d}" href="dishes.html" th:text="#{navbar.dishes}">Dishes</a>
                    <div class="dropdown-content">
                        <a href="form.html" th:href="@{d/(form)}" th:text="#{dishes.list.create}">Create Dish</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a  class="dropbtn" th:href="@{/m}" href="meals.html" th:text="#{navbar.meals}">Meals</a>
                    <div class="dropdown-content">
                        <a href="form.html" th:href="@{m/(form)}" th:text="#{meals.list.create}">Create Meal</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    -->

  <!--  <nav th:fragment="navbar" class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/}" href="index.html" th:text="#{navbar.home}" >Studentenhuis</a>
        <ol class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a href="index.html" th:href="@{/}" >Home</a></li>
            <li class="nav-item">
                <a th:href="@{/s}" href="students.html" th:text="#{navbar.students}">Studenten</a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="form.html" th:href="@{s/(form)}" th:text="#{students.list.create}">Create Student</a></li>
                </ol>
            </li>
            <li class="menu-item">
                <a th:href="@{/m}" href="meals.html" th:text="#{navbar.meals}">Widgets</a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="form.html" th:href="@{m/(form)}" th:text="#{meals.list.create}">Create Meal</a></li>
                </ol>
            </li>
            <li class="menu-item">
                <a th:href="@{/d}" href="dishes.html" th:text="#{navbar.dishes}">Kabobs</a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="form.html" th:href="@{d/(form)}" th:text="#{dishes.list.create}">Create Dishes</a></li>
                </ol>
            </li>
        </ol>
    </nav>
    -->
</div>
</body>
</html>
