<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/studentName()})">
    <title th:text="#{students.specialtiestForm.title}">Students : Create</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" th:href="@{/s}" href="students.html"> Students </a>
    </div>
    <div>
        <h4 class="float-left mt-2">Adding Specialties to: </h4>
        <h2 th:text="${student.studentName}">1</h2>
    </div>
    <div class="clearfix"></div>
    <form id="specialtiesForm" th:action="@{/s/(specialtiesForm)}" th:object="${studSpec}"  action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
        </div>
        <input type="hidden" th:field="*{id}" th:class="${'form-control' + (#fields.hasErrors('id') ? ' is-invalid' : '')}"/>
        <div class="form-group">
            <label for="allergies" th:text="#{students.specialtiestForm.allergies}">Allergiën</label>
            <input type="text" th:field="*{allergies}" th:class="${'form-control' + (#fields.hasErrors('allergies') ? ' is-invalid' : '')}">
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{students.form.submit}">Submit</button>
    </form>
</div>
</body>
</html>